
:host{
    position: fixed;
    width: 100vw;
    background: white;
    z-index: 1;
    padding: 1em;
    top: -5em;
}

#searchbar_container {
    display: flex;
    margin: auto;
    max-width: 40em;
}
.search_btn{
  background: none;
  border: none;
}
