
:host{
    position: fixed;
    width: 95%;
    display: block;
    z-index: 1;
    // top: -5em;
    top: 3.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#searchbar_container {
    display: flex;
    margin: auto;
    max-width: 40em;
}
#searchbar_outside_container{
    background: white;
    padding: 1em;
}
.search_btn{
  background: none;
  border: none;
    margin: 0 0.5em;
}



@media only screen and (max-width: 700px) {
    :host{
        width: 100%;
    }
}
