
:host{
    position: fixed;
    width: 100vw;
    z-index: 1;
    // top: -5em;
    top: 3.5em;
}

#searchbar_container {
    display: flex;
    margin: auto;
    max-width: 40em;
}
#searchbar_outside_container{
    display: block;
    margin: auto;
    width: 95%;
    background: white;
    padding: 1em;
}
.search_btn{
  background: none;
  border: none;
    margin: 0 0.5em;
}

@media only screen and (max-width: 700px) {
    #searchbar_outside_container{
        width: 100%;
    }
}
