

    <div id="repertoire_list_container" class="container">
        <div id='repertoire_list'>
            @for (music of music_list; track music.getMusicId()) {
                <div class="list-item" (click)="PlayMusicList(music_list, music_list.indexOf(music))">
                    @if (music.getMusicAuthor() !== "") {
                        <p [id]='"repertoire_title_" + music_list.indexOf(music)'
                           [ngClass] = "{'current-audio': 'repertoire_title_' + music_list.indexOf(music) === sessionStorage.getItem('current_audio_html_id')}"
                           class = "title">{{music.getMusicAuthor() + ": " + music.getMusicTitle()}}</p>
                    } @else {
                        <p [id]='"repertoire_title_" + music_list.indexOf(music)'
                           [ngClass] = "{'current-audio': 'repertoire_title_' + music_list.indexOf(music) === sessionStorage.getItem('current_audio_html_id')}"
                           class = "title">{{music.getMusicTitle()}}</p>
                    }
                    <div class="repertoire_place">
                        {{music.getMusicEvent().getEventPlace() + " (" + music.getMusicEventDateStr() + ")"}}
                    </div>
                </div>
            } @empty {
                <div id='no_result_container'>
                    <p id='no_result'>A keresésnek nincsen eredménye.</p>
                </div>
            }
        </div>
    </div>

<br><br>
<app-footer></app-footer>
