<app-searchbar></app-searchbar>
<div id="repertoire_list_container" class="container">
    <div id='repertoire_list'>
        @for (music of music_list; track $index) {
            <div class="list-item" (click)="PlayMusicList(music_list, $index)">
                @if (music.music_author !== "") {
                    <p [id]='"repertoire_title_" + music.music_id'
                       class = "title">{{music.music_author + ": " + music.music_title}}</p>
                } @else {
                    <p [id]='"repertoire_title_" + music.music_id'
                       class = "title">{{music.music_title}}</p>
                }
                <div class="repertoire_place">
                    {{music.music_event.event_place + " (" + music.music_event.event_date_str + ")"}}
                </div>
            </div>
        } @empty {
            <div id='no_result_container'>
                <p id='no_result'>A keresésnek nincsen eredménye.</p>
            </div>
        }
    </div>
</div>

<br><br>

<app-footer></app-footer>
