@import "../../global";
:host{
    position: sticky;
    top: 0;
    width: 100vw;
    //height: $navbar-height;
    z-index: 2;
}
nav{
    //height: $navbar-height;
    background-color: $mandak-red;
    box-shadow: 0 0 0.5em #333;
}
.nav-item{
    color: white;
    &:hover {
        cursor: pointer;
    }
}
.active{
  font-weight: bold;
}
#nav-logo{
    height: 2em;
    filter: drop-shadow(0 0 0.1em #333);
    position: absolute;
    &:hover {
        cursor: pointer;
    }
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar-toggler{
    top: 0;
    margin-right: 0.5em;
}
#audio-player-toggler{
    color: $mandak-green;
    font-size: large;
    filter: drop-shadow(0 0 0.1em #333);
    position: absolute;
    right: 1em;
    &:hover{
        cursor: pointer;
    }
}
@media (max-width: 1000px) {
    #nav-logo{
        position: relative;
    }
    #audio-player-toggler{
        left: 3em;
        top: 0.5em;
        right: unset;
    }
}
