<footer class="dark_mode">
    <div class="container">
        <div class="footer-content-container">
            <div class="content-item">
                <i class="fa fa-globe text-white"></i>&nbsp;&nbsp;
                <a href = "https://kantorkepzo.egyhazkozseg.hu/" target="_blank">Evangélikus kántorképző intézet</a>
            </div>
            <div class="content-item">
                <i class="fa fa-home text-white"></i>&nbsp;
                <a href = "https://maps.app.goo.gl/r9m1NdQNPCTzxo418" target="_blank">2151 Fót Berda József u. 3. </a>
            </div>
        </div>
        <div class="footer-content-container">
            <div id="social_media_links_container">
                <div class="content-item">
                    <a  href = "https://www.facebook.com/Mandakkorus" target="_blank" class="fab fa-facebook fa-2x"></a>
                </div>
                <div class="content-item">
                    <a href = "https://www.youtube.com/@mandakkorus1834" target="_blank" class="fab fa-youtube fa-2x"></a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="footer-content-container">
            Pro Musica Lutherana Alapítvány  <br>
            2151 Fót Berda József u. 3. <br>
            Adószám: 18660582-1-13  <br>
        </div>
        <div class="footer-content-container">
            <img id="logo" src="/assets/images/logo.png" alt="logo">
        </div>
    </div>

    <div id="copyright" class="container" >&copy; 2025 Mandák kórus</div>
</footer>
