<div id="login-container" >
    <form action="/auth/login" method="post">
        <img id="login_logo" src="/assets/images/logo.png" alt="logo">
        <input id="login_username" type="text" name="username" placeholder="Felhasználónév" required>
        <input id="login_password" type="password" name="password" placeholder="Jelszó" required>
        <input type="submit" value="Bejelentkezés">
        <!-- <a id="login_registration" href="/registration">Regisztráció</a> -->
    </form>
</div>

<app-footer></app-footer>
